    <%- include("../partials/navbar.ejs") %><br>
	<% if (loggedIn) { %>
		<button onclick="document.getElementById('id01').style.display='block'" class="button">Create Teams</button>

		<div id="id01" class="modal">
			<div class="modal-content" style="max-width:600px">
				<form id="teamsForms" onsubmit="submitForm(event)">
					<label for="teamName">Team Name:</label>
					<input type="text" id="teamName" name="teamName" required>
					
					<label for="teamAcronym">Team Acronym:</label>
					<input type="text" id="teamAcronym" name="teamAcronym" required>
					
					<label for="teamWebsite">Team Website:</label>
					<input type="text" id="teamWebsite" name="teamWebsite" required>
					
					<label for="teamDescription">Team Description:</label>
					<textarea id="teamDescription" name="teamDescription" required></textarea>
					
					<label for="country">Team Country:</label>
					<input id="country" type="text" name="country" list="lstCountry" placeholder="Choose the country" required> 
					<datalist id="lstCountry"></datalist>
					
					<input class="confirmation" type="submit" value="Submit">
				</form>
				<div>
					<button onclick="document.getElementById('id01').style.display='none'" type="button">Cancel</button>
				</div>
			</div>
		</div>
	<% } %>
	<div id="teams"  style="overflow-x:auto;">
		<table style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Acronym</th>
					<th>Description</th>
					<th>Country</th>
					<% if (loggedIn) { %>
						<th>Actions</th>
					<% } %>
				</tr>
				<% for (let object of items) { %>
					<tr>
						<% for (let value in object) { %>
							<% if (value !== 'id' && value !== 'teamWebsite') { %>
								<% if (value == 'teamName') { %>
									<td class="name"><a href="<%=(object['teamWebsite'])%>"><%=(object['teamName'])%></a>
								<% } else {%>
									<td><%= object[value] %></td>
								<% } %>
							<% } %>
						<% } %>
						<% if (loggedIn) { %>
							<td>
								<input type="button" value="Edit" onclick="editItem('<%= object.id %>')">
								<input type="button" value="Delete" onclick="deleteItem('<%= object.id %>', 'teams')">
							</td>
						<% } %>
					</tr>					
				<% } %>
			</thead>
		</table>
	</div>
	<script src="js/main.js"></script>
	<script src="js/navigation.js"></script>
	<script src="js/teams.js"></script>
	<script src="js/countryApiCall.js"></script>
</body>
</html>